*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

main {
    height: 85vh;
    width: 100%;
    padding: 20px;
    background-color: rgb(9, 9, 12);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: blanchedalmond;
}

main div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 60%;
    width: 40%;
    border-radius: 10px;
    border: 1px solid blanchedalmond;
}

main div button {
    width: 40%;
    height: 15%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: blanchedalmond;
    transition: all ease 0.4s;
    
    &:hover {
        height: 16%;
        width: 41%;
        box-shadow: -3px -3px 3px 3px rgba(255, 235, 205, 0.121);
    }
}